/* src/Navbar/Navbar.css */

.navbar {
  background-color: #202020; /* Dark grey, close to black */
  color: #fff;
  padding: 10px 0; /* Add some padding */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  width: 80%;
  max-width: 960px;
  margin: auto; /* Center the container horizontally */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  background-color: #2e2e2e; /* Same dark grey as navbar */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #474747; /* Slightly darker grey for hover effect */
}
