/* src/App.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars */
}

.App {
  position: relative; /* Ensure relative positioning */
}

.container {
  width: 100%;
  
  margin: auto;
  padding: auto;
}

/* src/App.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars */
}

.App {
  position: relative; /* Ensure relative positioning */
}

.particle-background {
  position: absolute;
  top: 80px; /* Adjust this value based on your navbar height */
  left: 0;
  width: 100%;
  height: calc(100vh - 80px); /* Ensure particles cover the remaining viewport height */
  z-index: 0; /* Ensure particles are behind other content */
}

.container {
  width: 100%;
  
  margin: auto;
  padding: auto;
}

/* Example CSS - Update as per your project structure */

